<h2 class="title is-2">{{ .Params.category }}</h2>
<div class="products columns">
{{ range (first 3 (index .Root.Site.Taxonomies.categories (lower .Params.category)).Pages) }}
    <div class="product column is-one-third">
        {{ with .Params.image }}
        <div class="product__image">
            <img src="{{ . | absURL }}" />
        </div>
        {{ else }}
        <!-- placeholder image -->
        {{ end }}
        <div class="product__actions columns">
        <h3 class="title is-4 column is-one-half">
            {{ .Title }}
            <div class="product__price subtitle is-4">{{ partial "price" (dict "price" .Params.price "currency" .Site.Params.currency)}}</div>
        </h3>
        <div class="product__links column is-one-half">
            <a class="button is-primary" href="{{ .Permalink }}">View Details</a>
            {{ partial "buy-button" . }}
        </div>
        </div>
    </div>
{{ end }}
</div>